@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

header {
  background-color: #3c3a39;
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  position: relative;
}

label {
  display: none;
}

.brand-img {
  animation-name: slidein;
  animation-duration: 0.7s;
}

@keyframes slidein {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.desktop-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  margin: 0 10px;
}

.keywords ul li {
  list-style: none;
}

.language ul li,
.frameworks ul li,
.skills ul li {
  list-style: none;
  margin: 32px 0;
}

.project-keyword ul li {
  list-style: none;
}

.icons-1st ul li,
.icons-2nd ul li {
  list-style: none;
  margin-right: 10px;
  margin-bottom: 10px;
}

header ul li:hover {
  text-decoration: underline;
}

.desktop-item {
  display: none;
}

.mobile-menu {
  width: 100%;
  height: 100%;
  z-index: 50;
  background: #3c3a39;
  position: fixed;
  top: 0;
  left: 0;
  padding: 25px;
  display: none;
}

.cross-btn {
  background-color: transparent;
  border: none;
  display: block;
  float: right;
}

.mobile-item a {
  text-decoration:none;
  display: block;
  font-size: 32px;
  line-height: 44px;
  color: #fff5e1;
  margin-top: 24px;
  padding: 15px;
  font-weight: 700;
}

.mobile-item::after {
  content: '';
  height: 1px;
  width: 100%;
  background: #fff;
  display: block;
  margin-top: 15px;
}

.showcase {
  background-color: #1c1a19;
  background-image: url('./images/Illustration.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: auto;
  height: 800px;
  padding: 0 24px;
  color: white;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 737px;
  gap: 24px;
}

.hero-article {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hero-article h1 {
  font-family: 'Crete Round', serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
}

.hero-article h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.hero-article p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 12px 0;
}

.icons-1st {
  display: none;
}

.icons-1st img,
.icons-2nd img {
  width: 30px;
}

.icons-1st ul,
.icons-2nd ul {
  display: flex;
}

/* work section */
.work-section {
  padding: 120px 24px;
}

.recent-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.line-light {
  height: 0;
  width: 100%;
  border: 1px solid #212121;
}

.line-dark {
  height: 0;
  width: 100%;
  border: 1px solid #fff;
}

.recent-work h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  text-align: center;
}

.multi-post {
  margin: 80px 0 24px 0;
  display: grid;
  gap: 24px;
}

.multi-post img {
  width: 100%;
}

.multi-post-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}

.multi-post h3 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.multi-post p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.language ul li a,
.skills ul li a,
.frameworks ul li a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: white;
}

.keywords ul li:nth-child(n+1) {
  margin-right: 12px;
}

.keywords ul li a {
  text-decoration: none;
  background: #fff;
  border: 1px solid #8993a4;
  padding: 10px 12px;
  display: block;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  transition: all 0.8s ease-in-out;
}

.project-keyword ul li a {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 12px;
  display: block;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.keywords ul li a:hover {
  background-color: #ff6b00;
  color: white;
}

.keywords ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
}

.primary-btn {
  background: #ff6b00;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
  margin-bottom: 24px;
  transition: all 0.5s ease-in-out;
}

.primary-btn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.card-btn {
  background: #ff6b00;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: none;
  color: white;
  cursor: pointer;
  width: 100%;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}

.card-btn:hover {
  background: #fff5e1;
  color: #f55800;
}

.project-background {
  background: url('./images/projects-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
}

.project-foreground {
  background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.projects-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  height: 386px;
  width: 327px;
  justify-content: flex-end;
}

.projects-content h3 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.projects-content p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.project-keyword {
  margin: 0 16px;
}

.project-keyword ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 22px;
}

.project-keyword ul li:nth-child(n+1) {
  margin-right: 12px;
}

.project-keyword ul li a:hover {
  background-color: #ff6b00;
  color: white;
}

/* about section */
.about {
  background-color: #262626;
}

.about-header {
  background-image: url('./images/Frame.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto;
}

.about-content {
  padding: 120px 24px 220px 24px;
}

.about-content h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about-language {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 24px;
  margin-top: 120px;
}

.about-language h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: white;
}

.language h3::before {
  content: '';
  height: 18px;
  width: 18px;
  display: inline-block;
  margin-right: 12px;
  transform: rotate(-45deg);
  background-color: #ff6b00;
}

.frameworks h3::before {
  content: '';
  height: 18px;
  width: 18px;
  display: inline-block;
  margin-right: 12px;
  background-color: #ff6b00;
}

.skills h3::before {
  content: '';
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 12px;
  background-color: #ff6b00;
}

/* form section */
.form-section {
  margin: 120px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-article {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;

  /* or 138% */

  text-align: center;

  /* Neutrals/N800 */

  color: #172b4d;
}

form {
  width: 300px;
  margin: 80px auto 0;
}

.form-controll {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  /* or 160% */

  display: flex;
  align-items: center;
  width: 100%;

  /* Theme 3 / Neutral 6 */
  border: none;
  border-bottom: 1px solid #dbd8d7;
  color: #979493;
  outline: none;
  padding: 10px;
  margin: 24px 0;
}

textarea {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  /* or 160% */

  display: flex;
  align-items: center;

  /* Theme 3 / Neutral 6 */
  border: 1px solid #dbd8d7;
  color: #3c3a39;
  outline: none;
  width: 100%;
  padding: 10px;
  margin: 24px 0;
  background-color: #fbf8f7;
}

footer .icons ul {
  margin: 24px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 30px;
}

.footer-line {
  background: #dfe1e6;
  height: 1px;
}

.shape {
  width: 134px;
  height: 5px;
  margin: 23px auto 8px;
  background: #0d151e;
  border-radius: 10px;
}

/* screen for- Desktop: 768px or wider */
@media screen and (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }

  .desktop-item {
    display: block;
  }

  .mobile-menu {
    display: none;
  }

  /* showcase section */

  .hero {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 566px;
    height: 737px;
    gap: 80px;
  }

  .hero-article {
    width: 566px;
  }

  .hero-article h1 {
    font-size: 72px;
    line-height: 82px;
  }

  .hero-article h2 {
    font-size: 32px;
    line-height: 44px;
  }

  .hero-article p {
    font-size: 20px;
    line-height: 32px;
  }

  .icons-1st {
    display: block;
  }

  .icons-1st ul {
    flex-direction: column;
    gap: 16px;
  }

  .icons-2nd {
    display: none;
  }

  /* work section */

  .recent-work {
    flex-direction: row;
    justify-content: start;
    gap: 0;
  }

  .recent-work h2 {
    color: #091e42;
    width: 560px;
  }

  .multi-post p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #091e42;
  }

  .projects-content p {
    margin-bottom: 24px;
  }

  .about-content p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    margin: 24px 0;
    color: #f4f5f7;
  }

  .multi-post p:hover {
    font-size: 28px;
    line-height: 32px;
  }

  .line-light {
    width: 100%;
  }

  .multi-post {
    grid-template-columns: repeat(2, 1fr);
  }

  .multi-post img {
    height: 448px;
  }

  /* projects */

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects-content {
    gap: 24px;
    padding: 16px;
  }

  .card-btn {
    opacity: 0;
  }

  .project-keyword {
    position: absolute;
    bottom: 0;
  }

  .projects-content,
  .project-keyword {
    opacity: 1;
  }

  .project-foreground:hover .projects-content {
    opacity: 0;
  }

  .project-foreground:hover .project-keyword {
    opacity: 0;
  }

  .project-foreground:hover .card-btn {
    opacity: 1;
  }

  .project-foreground:hover {
    background: transparent;
    cursor: pointer;
  }

  /* about section */
  .about {
    padding: 120px 0;
  }

  .about-content {
    width: 566px;
  }

  .about-content p:hover {
    font-size: 32px;
    line-height: 40px;
  }

  .about-language {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    padding: 0 142px;
  }

  /* form section */
  .form-section {
    flex-direction: row;
    gap: 24px;
    margin: 130px;
  }

  .form-article {
    width: 40%;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: left;
    color: #262626;
  }

  form {
    width: 60%;
    margin-top: 0;
  }

  /* footer */
  .shape {
    display: none;
  }
}

@media screen and (min-width: 1337px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }

  .work-section {
    padding: 130px 161px;
  }

  .about-header {
    background-image: url('./images/about-me-img.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto;
    padding: 140px;
  }

  .showcase {
    background-color: #1c1a19;
    background-image: url('./images/Illustration-header.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: auto;
    height: 800px;
    padding: 0 24px;
    color: white;
  }
}
